.add-to-cart {
  width: 320px;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    box-sizing: border-box;
    width: 364px;
    height: 241px;
    border: 1px solid #c6c6c6;
    padding: 53px 100px 46px;
  }
}

.add-to-cart__title {
  @include text-size (25px, 30px);
  @include text-color;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    @include out-indents-reset;
    @include text-size (30px, 57px);
    margin-bottom: 30px;
  }
}

.add-to-cart__text {
  display: block;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.add-to-cart__form {
  text-align: center;
}

.add-to-cart__value {
  @include text-size (17px, 16px);
  @include text-color;
  font-weight: 700;
}

.add-to-cart__btn {
  color: #ffffff;
  background-color: #63d1bb;
  border: 0;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: $tablet-width) {
    width: 100%;
    margin-top: 30px;
  }
}
