@import "goods.scss";

.catalog {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.catalog__wrap {
  @include wrapper;
  @include container;
}

.catalog__list {
  @include list-reset;

  @media screen and (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow;
  }

  &:focus {
    box-shadow: $box-shadow;
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  }
}
