.contacts {
  padding-top: 30px;
  padding-bottom: 38px;

  @media screen and (min-width: $tablet-width) {
    @include vert-padding (59px, 57px);
  }
}

.contacts__title {
  @include wrapper;
  @include text-size (18px, 30px);
  @include text-color;
  font-weight: 700;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    @include text-size(43px, 50px);
    padding-right: 60px;
  }
}

.contacts__info {
  @include wrapper;
  @include vert-padding(27px, 40px);
  min-height: 175px;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    @include vert-padding(48px, 56px);
    min-height: 90px;
    display: flex;
  }
}

.contacts__info-name {
  @media screen and (min-width: $tablet-width) {
    width: 78px;
  }
}

.contacts__info-desc {
  @media screen and (min-width: $tablet-width) {
    width: 256px;
  }
}

.contacts__info-desc--mail {
  @include link-reset;
  color: #444444;
  padding-bottom: 4px;
  border-bottom: 1px solid #62d1ba;

  &:visited {
    color: #444444;
  }

  &:hover {
    color: #46c1ae;
  }

  &:focus {
    color: #46c1ae;
  }

  &:active {
    border-color: rgba(70, 193, 174, 0.3);
    color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__maps {
  margin-bottom: 38px;

  @media screen and (min-width: $tablet-width) {
    width: 768px;
    margin-bottom: 53px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

.contacts__img {
  display: block;
}

.contacts__btn {
  @include wrapper;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    width: 231px;
    margin: 0 auto;
  }
}
