.contacts {
  padding-top: 30px;
  padding-bottom: 38px;
  position: relative;

  @media screen and (min-width: $tablet-width) {
    @include vert-padding (59px, 57px);
  }

  @media screen and (min-width: $desktop-width) {
    @include left-wrap;
    @include vert-padding (140px, 103px);
    width: 355px;
  }
}

.contacts__title {
  @include wrapper;
  @include text-size (18px, 30px);
  @include text-color;
  font-weight: 700;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    @include text-size(43px, 50px);
    padding-right: 60px;
  }

  @media screen and (min-width: $desktop-width) {
    @include text-size(53px, 57px);
  }
}

.contacts__info {
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 26px;
  margin-bottom: 36px;
  border-collapse: collapse;
  width: auto;

  @media screen and (min-width: $tablet-width) {
    @include out-indents-reset;
    margin-top: 47px;
    margin-bottom: 55px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 5px;
    margin-bottom: 78px;
  }

  tbody {
    @media screen and (min-width: $tablet-width) {
      display: flex;
    }

    @media screen and (min-width: $desktop-width) {
      display: table;
    }
  }
}

.contacts__row {
  @media screen and (min-width: $tablet-width) {
    display: flex;
  }
}

.contacts__cell {
  vertical-align: top;

  &:nth-child(2n-1) {
    width: 77px;
    height: 58px;
  }

  @media screen and (min-width: $tablet-width) {
    &:nth-child(2n-1) {
    width: 73px;
  }
    &:nth-child(2n) {
      width: 258px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    &:nth-child(2n-1) {
    width: 75px;
    }
  }
}

.contacts__info-desc--mail {
  @include link-reset;
  color: #444444;
  padding-bottom: 4px;
  border-bottom: 1px solid #62d1ba;

  &:visited {
    color: #444444;
  }

  &:hover {
    color: #46c1ae;
  }

  &:focus {
    color: #46c1ae;
  }

  &:active {
    border-color: rgba(70, 193, 174, 0.3);
    color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__maps {
  margin-bottom: 36px;

  @media screen and (min-width: $tablet-width) {
    width: 768px;
    margin-bottom: 53px;
    margin-left: -50px;
    margin-right: -50px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 521px;
    height: 460px;
    position: absolute;
    top: 68px;
    right: -471px;
  }
}

.contacts__img {
  display: block;
}

.contacts__btn {
  @include wrapper;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    width: 231px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 5px;
  }
}
