.copyright {
  height: 80px;

  @media screen and (min-width: $tablet-width) {
    height: 143px;
  }
}

.copyright__text {
  @include text-size (19px, 18px);
  @include text-color;
  font-weight: 700;
}
