.copyright {
  @include link-reset;
  @include text-size (19px, 18px);
  @include text-color;
  font-weight: 700;
  height: 80px;

  &:visited {
    color: #000000;
  }

  &:hover {
    color: #8d8d8d;
  }

  &:hover .copyright__img {
    fill: #46c1ae;
  }

  &:focus {
    color: #8d8d8d;
  }

  &:focus .copyright__img {
    fill: #46c1ae;
  }

  &:active {
    color: #cacaca;
  }

  &:active .copyright__img {
    color: #cacaca;
    fill: #bde3dd;
  }

  @media screen and (min-width: $tablet-width) {
    height: 143px;
  }
}

.copyright__text {
  margin-right: 24px;
}


.copyright__img {
  display: block;
  fill: #63d1bb;
}
