.features {
  @include wrapper;
  @include vert-padding (25px, 25px);

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    @include vert-padding (52px, 18px);
  }
}

.features__title {
  @include text-size (25px, 30px);
  @include text-color;
  @include out-indents-reset;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(43px, 50px);
    padding-bottom: 50px;
  }
}

.features__list {
  @include list-reset;
  @include text-size (17px, 20px);
  @include text-color;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 710px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(20px, 22px);
    min-height: 470px;
    max-height: 470px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.features__item {
  min-height: 95px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 60px;
    width: 50%;
  }
}

// Временно для составления сетки
.features__img {
  display: block;
  padding-bottom: 20px;

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 16px;
  }
}
