@import "social.scss";
@import "copyright.scss";

.footer {
  background-color: #f1f1f1;
  min-height: 160px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    @include reset-padding;
    min-height: 143px;
  }
}

.footer__wrap {
  @include wrapper;
  @include container;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
