.form-type {
  @media screen and (min-width: $tablet-width) {
    @include form-decor;
  }
}

.form-type__label {
  position: relative;

  @media screen and (min-width: $tablet-width) {
    width: 500px;
    padding-bottom: 20px;
    margin-bottom: 23px;
  }

  &::before {
    @include radio-checkbox;
    border-radius: 50%;
  }
}
