.form-contacts {
  margin-bottom: 7px;

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 3px;
  }
}

.form-contacts__fullname {
  margin-bottom: 11px;

  @media screen and (min-width: $tablet-width) {
    @include form-decor;
    margin-bottom: 2px;
  }
}

.form-contacts__subtitle {
  display: block;
  margin-bottom: 27px;
}

.form-contacts__label {
  @include grid-col-row;
  align-items: flex-start;
  padding: 0;
  width: 260px;
  box-sizing: $box-sizing;
  margin-bottom: 6px;

  @media screen and (min-width: $tablet-width) {
    width: 520px;
    padding-left: 20px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    width: 720px;
    padding-left: 24px;
  }
}

.form-contacts__label--fullname {
  margin-bottom: 22px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.form-contacts__label--title {
  @media screen and (min-width: $tablet-width) {
    width: 166px;
    padding-left: 0;
    padding-top: 19px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 111px;
  }
}

.form-contacts__label--title-message {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet-width) {
    width: 166px;
    padding-left: 0;
    padding-top: 18px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 111px;
  }
}

.form-contacts__field-name {
  @media screen and (min-width: $tablet-width) {
    display: block;
    width: 111px;
    margin-right: 25px;
    padding-top: 15px;

    &--name {
      width: 50px;
    }

    @media screen and (min-width: $desktop-width) {
      width: 104px;

      &--name {
        width: 45px;
      }
    }
  }

  @media screen and (min-width: $desktop-width) {
    margin-right: 28px;
  }
}

.form-contacts__connections {
  margin-bottom: 34px;
  position: relative;

  @media screen and (min-width: $tablet-width) {
    @include form-decor ($bg-color);
    margin-bottom: 0;
  }
}

.form-contacts__layout {
  position: relative;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form-contacts__message {
  @media screen and (min-width: $tablet-width) {
    @include form-decor;
    margin-bottom: 20px;
  }
}

.form-contacts__input {
  width: 260px;
  height: 52px;
  box-sizing: $box-sizing;
  position: relative;

  @media screen and (min-width: $tablet-width) {
    width: 500px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 700px;
  }

  &:hover ~ .form-contacts__icon {
    opacity: 1;
    fill: $green;
  }

  &:focus ~ .form-contacts__icon {
    opacity: 1;
    fill: $green;
  }
}

.form-contacts__layout:first-child {
  margin-bottom: 33px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.form-contacts__layout:last-child  {
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.form-contacts__input--name {
  @media screen and (min-width: $tablet-width) {
    width: 428px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 628px;
  }
}

.form-contacts__input--surname {
  @media screen and (min-width: $tablet-width) {
    width: 400px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 600px;
  }
}

.form-contacts__icon {
  position: absolute;
  fill: #000000;
  opacity: 0.2;
  top: 33px;
  right: 6px;

  @media screen and (min-width: $tablet-width) {
    top: 11px;
    right: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    top: 11px;
    right: 6px;
  }
}

.form-contacts__textarea {
  resize: none;
  width: 260px;
  box-sizing: $box-sizing;
  height: 142px;

  @media screen and (min-width: $tablet-width) {
    width: 500px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 700px;
  }
}
