.form-order {
  margin-bottom: 48px;
}

.form-order__text {
  @include reset-margin;
  @include text-size (13px, 24px);
  margin-bottom: 25px;

  @media screen and (min-width: $tablet-width) {
    @include text-size (17px, 30px);
    margin-bottom: 7px;
  }
}

.form-order__wrap {
  @include wrapper;
  @include container;
  display: block;

  @media screen and (min-width: $desktop-width) {
    padding: 0 225px;
  }
}
