.inner-page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  min-width: 320px;

  // Временно для построяния сетки
  // background: #ffffff url("../bg/index-mobile.jpg") no-repeat 50% 0;
  // background: #ffffff url("../bg/catalog-mobile.jpg") no-repeat 50% 0;
  // background: #ffffff url("../bg/form-mobile.jpg") no-repeat 50% 0;
  // opacity: 0.8;
  // background-size: 320px auto;

  @media screen and (min-width: $tablet-width) {
    font-size: 17px;
  }
}

// @media screen and (min-width: $tablet-width) {
//   .inner-page {
//     opacity: 0.8;
//     background: #ffffff url("../bg/index-tablet.jpg") no-repeat 50% 0;
//     background: #ffffff url("../bg/catalog-tablet.jpg") no-repeat 50% 0;
//     background: #ffffff url("../bg/form-tablet.jpg") no-repeat 50% 0;
//     background-size: 768px auto;
//   }
// }

// @media screen and (min-width: $desktop-width) {
//   .inner-page {
//     opacity: 0.8;
//     background: #ffffff url("../bg/index-desktop.jpg") no-repeat 50% 0;
//     background: #ffffff url("../bg/catalog-desktop.jpg") no-repeat 50% 0;
//     background: #ffffff url("../bg/form-desktop.jpg") no-repeat 50% 0;
//   }
// }

.inner-page__wrap {
  @include wrapper;
  @include container;

  &--index {
    padding-bottom: 121px;
  }
}

.inner-page__name {
  @include vert-padding (70px, 70px);
  box-sizing: $box-sizing;
  border-top: $border;
  min-height: 175px;
  margin-bottom: 30px;
  background-color: #f1f1f1;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    min-height: 225px;
    padding-top: 94px;
    margin-top: -62px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 252px;
    margin-bottom: 132px;
  }

  &--form-order {
    margin-bottom: 23px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 73px;
    }

    @media screen and (min-width: $desktop-width) {
      margin-bottom: 124px;
    }
  }
}

.inner-page__title {
  @include out-indents-reset;
  @include text-size(27px, 30px);
  @include text-color;
  font-weight: 700;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    @include text-size(43px, 50px);
    width: 100%;
  }

  @media screen and (min-width: $desktop-width) {
    @include text-size(53px, 57px);
  }
}

.inner-page__title-second {
  @include out-indents-reset;

  @media screen and (min-width: $tablet-width) {
    @include text-size(43px, 50px);
  }
}
