@import "menu-list.scss";
@import "user-list.scss";

.main-nav {
  height: 80px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @media screen #{$tablet-width} {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 0;
  }
}

.main-nav__logo {
  margin-right: 68px;

  @media screen #{$tablet-width} {
    height: 90px;
    width: 320px;
    margin-right: 0;
  }
}

.main-nav__show {
  display: block;
}

.main-nav__list {
  @include list-reset;
  display: none;

  @media screen #{$tablet-width} {
    display: flex;
    align-items: center;
  }
}

.main-nav__toggle {
  background-color: #ffffff;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 14px;
  border: 0;

  @media screen #{$tablet-width} {
    display: none;
  }
}
