.menu-list {

  @media screen #{$tablet-width} {
    order: 1;
    width: 320px;
  }
}

.menu-list__item--hidden {
  display: none;
}

.menu-list__link {
  @include link-reset;
  @include text-decoration;

  &:visited {
    @include link-visited;
  }

  &:hover {
    @include link-hover;
  }

  &:focus {
    @include link-hover;
  }

  &:active {
    @include link-active;
  }

  @media screen #{$tablet-width} {
    @include text-size(15px, 24px);
  }
}
