.menu-list {

  @media screen and (min-width: $tablet-width) {
    order: 1;
    width: 320px;
  }

  @media screen and (min-width: $desktop-width) {
    order: 0;
  }
}

.menu-list__item {
  @include text-decoration;
  @include mobile-menu-item;
  padding-top: 25px;
  padding-left: 76px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(15px, 24px);
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 17px;
    width: 185px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &--hidden {
    display: none;

    @media screen and (min-width: $desktop-width) {
      font-size: 15px;
      height: 60px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}

.menu-list__link {
  @include link-reset;
  @include text-color (#000000);

  &:visited {
    @include link-visited;
  }

  &:hover {
    @include link-hover;
  }

  &:focus {
    @include link-hover;
  }

  &:active {
    @include link-active;
  }
}
