.menu-list {

  @media screen and (min-width: $tablet-width) {
    order: 1;
    justify-content: space-between;
    min-width: 304px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 445px;
    order: 0;
    flex-wrap: wrap;
  }
}

.menu-list__item {
  @include text-decoration;
  @include mobile-menu-item;
  padding-top: 25px;
  padding-left: 76px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(15px, 24px);
    height: 60px;
    padding: 16px 0;
    border: 0;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 17px;
    width: calc(445px - 185px);
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  &:nth-child(2n-1) {
    @media screen and (min-width: $desktop-width) {
      width: 185px;
    }
  }

  &:nth-child(2n) {
    @media screen and (min-width: $desktop-width) {
      padding-left: 35px;
    }
  }

  &:first-child {
    @media screen and (min-width: $desktop-width) {
      border-right: $border;
    }
  }

  &--hidden {
    display: none;

    @media screen and (min-width: $desktop-width) {
      font-size: 15px;
      height: 55px;
      display: flex;
    }
  }
}

.menu-list__link {
  @include link-reset;
  @include text-color (#000000);

  &:visited {
    @include link-visited;
  }

  &:hover {
    @include link-hover;
  }

  &:focus {
    @include link-hover;
  }

  &:active {
    @include link-active;
  }
}
