// Сбрасывание стилей
@mixin list-reset {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

@mixin out-indents-reset {
  margin: 0;
}

@mixin int-indents-reset {
  padding: 0;
}

@mixin vert-padding ($padding-top, $padding-bottom) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

@mixin link-reset {
  text-decoration: none;
}

// Миксины с заданными значениями
@mixin text-decoration {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

@mixin link-hover {
  color: #8d8d8d;
}

@mixin container {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    padding: 0 50px;
    width: 768px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1150px;
  }
}

@mixin wrapper {
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
  margin: 0 auto;
  box-sizing: $box-sizing;
}

@mixin left-wrap {
  padding-left: 220px;
}

@mixin grid-direction {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: column;
  }
}

@mixin grid-col-row {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

@mixin form-decor ($bg-color: transparent){
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: $bg-color;
}

@mixin radio-checkbox {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  content: "";

  @media screen and (min-width: $tablet-width) {
    width: 53px;
    height: 53px;
  }
}

// Миксины с переменными
@mixin text-color ($color: #000000) {
  color: $color;
}

@mixin link-active ($color: #cacaca) {
  color: $color;
}

@mixin link-visited ($color: #000000) {
  color: $color;
}

@mixin text-size ($font-size: 17px, $line-height: 24px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin arrows ($width: 130px, $height: 52px) {
  width: $width;
  height: $height;
  border: 0;
}
