// Сбрасывание стилей
@mixin list-reset {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

@mixin reset-margin {
  margin: 0;
}

@mixin reset-padding {
  padding: 0;
}

@mixin vert-padding ($padding-top, $padding-bottom) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

@mixin link-reset {
  text-decoration: none;
}

@mixin mobile-menu-item {
  box-sizing: $box-sizing;
  border-top: $border;
  height: 80px;
  padding-bottom: 25px;
  padding-right: 30px;
}

@mixin main-nav-toggle {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

@mixin zigzag ($top-tablet, $top-desktop) {
  @media screen and (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 668px;
    height: 34px;
    background: url("../img/bg-zigzag-line.svg") repeat -25px 0;
    background-repeat-y: no-repeat;
    background-size: auto 50%;
    left: 50px;
    top: $top-tablet;
    z-index: 1;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1050px;
    background-size: 100%;
    top: $top-desktop;
  }
}

// Миксины с заданными значениями
@mixin text-decoration {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

@mixin title-first {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

@mixin link-hover {
  color: #8d8d8d;
}

@mixin container {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    padding: 0 50px;
    width: 768px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1150px;
  }
}

@mixin wrapper {
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
  margin: 0 auto;
  box-sizing: $box-sizing;
}

@mixin left-wrap {
  padding-left: 220px;
}

@mixin grid-direction {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: column;
  }
}

@mixin grid-col-row {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

@mixin form-decor ($bg-color: transparent) {
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: $bg-color;
}

@mixin radio-checkbox {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid #444444;
  top: 0;
  left: 0;
  z-index: 1;

  @media screen and (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: 20px;
  }
}

@mixin svg-hover {

  &:hover {
    fill: #46c1ae;
  }

  &:focus {
    fill: #46c1ae;
  }

  &:active {
    fill: #bde3dd;
  }
}

// Миксины с переменными
@mixin text-color ($color: #000000) {
  color: $color;
}

@mixin link-active ($color: #cacaca) {
  color: $color;
}

@mixin link-visited ($color: #000000) {
  color: $color;
}

@mixin text-size ($font-size: 17px, $line-height: 24px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin arrows ($width: 130px, $height: 52px) {
  width: $width;
  height: $height;
  border: $border;
  background: none;

  @media screen and (min-width: $tablet-width) {
    border: none;
  }
}
