.order__fieldset {
  @include int-indents-reset;
  @include out-indents-reset;
  @include grid-col-row;
  box-sizing: $box-sizing;
  border: 0;
  margin-bottom: 25px;
  position: relative;

  // Временно для сетки
  &:nth-child(1) {
    height: 146px;
  }

  &:nth-child(2) {
    height: 385px;
  }

  &:nth-child(3) {
    height: 725px;
  }
}

.order__title {
  @include text-size(17px, 16px);
  @include text-color(#63d1bb);
  font-weight: 700;

  text-transform: uppercase;
  margin-bottom: 24px;

  // &:nth-child(3) {
  //   margin-bottom: 27px;
  // }
}

.order__subtitle {
  @include text-size(17px, 18px);
  @include text-color;
  font-weight: 700;
  padding-left: 64px;
  padding-top: 9px;
  margin-bottom: 16px;

}

.order__input {
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    @include text-size(17px, 18px);
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba(68, 68, 68, 0.3);
  }

  &:focus {
    outline: 0;
    border-color: #62d1ba;

    &::placeholder {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &:active {
    color: #444444;
    outline: 0;
    border-color: #62d1ba;
  }
}

.order__textarea {
  border: 2px solid #444444;

  &::placeholder {
    @include text-size(17px, 18px);
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba(68, 68, 68, 0.3);
  }

  &:focus {
    outline: 0;
    border-color: #62d1ba;

    &::placeholder {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &:active {
    color: #444444;
    outline: 0;
    border-color: #62d1ba;
  }
}

.order__comment {
  @include out-indents-reset;
  @include text-size(14px, 16px);
  margin-bottom: 31px;
}

.order__radio {
  @include radio-checkbox;
}

.order__checkbox {
  @include radio-checkbox;
}

.order__btn {
  width: 100%;
}
