.order__fieldset {
  @include reset-padding;
  @include reset-margin;
  box-sizing: $box-sizing;
  border: 0;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
    flex-direction: row;

    &--contacts {
      @media screen and (min-width: $tablet-width) {
        flex-direction: column;
      }
    }
  }
}

.order__wrap {
  @include wrapper;
  @include container;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--col {
      flex-direction: column;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 112px;

    &--col {
      padding-right: 224px;
    }
  }

  &--check {
    @media screen and (min-width: $desktop-width) {
      padding: 0 224px;
    }
  }
}

.order__fields {
  @include grid-col-row;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet-width) {
    width: 520px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 895px;
  }
}

.order__title {
  @include text-size(17px, 16px);
  @include text-color(#63d1bb);
  font-weight: 700;

  text-transform: uppercase;
  margin-bottom: 24px;
  display: block;

  @media screen and (min-width: $tablet-width) {
    width: 148px;
    padding-top: 18px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    width: 92px;
  }
}

.order__subtitle {
  @include text-size(17px, 18px);
  @include text-color;
  font-weight: 700;
  box-sizing: $box-sizing;
  width: 260px;
  padding-left: 64px;
  padding-top: 9px;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet-width) {
    font-size: 19px;
    padding-top: 15px;
    padding-left: 100px;
  }
}

.order__input {
  box-sizing: $box-sizing;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  padding-top: 3px;
  color: rgba(68, 68, 68, 0.3);

  @media screen and (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  &::placeholder {
    @include text-size(17px, 52px);
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba(68, 68, 68, 0.3);

    @media screen and (min-width: $tablet-width) {
      @include text-size(19px, 52px);
    }
  }

  &:hover {
    outline: 0;
    border-color: $green;

    &::placeholder {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &:focus {
    outline: 0;
    border-color: $green;

    &::placeholder {
      color: rgba(68, 68, 68, 1);
    }
  }
}

.order__textarea {
  border: 2px solid #444444;
  padding: 12px 15px;

  &::placeholder {
    @include text-size(17px, 18px);
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba(68, 68, 68, 0.3);

    @media screen and (min-width: $tablet-width) {
      @include text-size(19px, 18px);
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &:hover {
    outline: 0;
    border-color: $green;

    &::placeholder {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &:focus {
    outline: 0;
    border-color: $green;

    &::placeholder {
      color: rgba(68, 68, 68, 1);
    }
  }
}

.order__comment {
  @include reset-margin;
  @include text-size(14px, 16px);
  margin-bottom: 31px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(17px, 30px);
    margin-bottom: 0;
    align-self: center;
  }
}

.order__radio {
  display: none;
  cursor: pointer;

  &:hover + .order__subtitle::before {
    border-color: $green;
  }

  &:focus + .order__subtitle::before {
    border-color: $green;
  }

  &:active + .order__subtitle::before {
    border-color: #c7c7c7;
  }

  &:checked + .order__subtitle::after {
    position: absolute;
    top: 11px;
    left: 12px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $green;
    z-index: 1;

    @media screen and (min-width: $tablet-width) {
      width: 21px;
      height: 21px;
      top: 16px;
      left: 36px;
    }
  }
}

.order__checkbox {
  display: none;
  cursor: pointer;

  &:hover + .order__subtitle::before {
    border-color: $green;
  }

  &:focus + .order__subtitle::before {
    border-color: $green;
  }

  &:active + .order__subtitle::before {
    border-color: #c7c7c7;
  }

  &:checked + .order__subtitle::after {
    position: absolute;
    top: 12px;
    left: 8px;
    content: "";
    width: 23px;
    height: 16px;
    background-image: url("../img/tick-mobile.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;

    @media screen and (min-width: $tablet-width) {
      width: 33px;
      height: 23px;
      top: 15px;
      left: 30px;
      background-image: url("../img/tick.svg");
    }
  }
}

.order__btn {
  width: 100%;

  @media screen and (min-width: $tablet-width) {
    width: 231px;
    padding: 14px 24px;
    order: -1;
    margin-right: auto;
  }
}
