.production {
  padding-bottom: 35px;
  border-bottom: 10px solid #ececec;

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 45px;
    border-bottom: 20px solid #ececec;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 74px;
    border-bottom: 30px solid #ececec;
  }
}

.production__list {
  min-height: 180px;

  @media screen and (min-width: $tablet-width) {
    min-height: 118px;
    display: flex;
  }
}

.production__item {
  @include wrapper;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 115px;

  @media screen and (min-width: $tablet-width) {
    width: 334px;
    padding-top: 28px;
    padding-left: 36px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 185px;
    padding-right: 305px;
  }

  &--interior-items {
    background-color: #63d1bb;
  }

  &--kid-toys {
    background-color: #56c3b2;
  }
}

.production__link {
  @include link-reset;
  @include text-size (19px, 24px);
  @include text-color (#ffffff);
  font-weight: 700;
  display: block;

  &:active {
    @include link-active (#97e2d2);
  }

  @media screen and (min-width: $tablet-width) {
    @include text-size (20px, 30px);
  }
}
