.product {
  margin-bottom: 35px;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    @include vert-padding (50px, 0);

    margin-bottom: 45px;
 }

  @media screen and (min-width: $desktop-width) {
    @include left-wrap;

    margin-bottom: 74px;
  }
}

.product__wrap {
  @include wrapper;
  @include container;
}

.product__title {
  @include text-size (25px, 30px);
  @include text-color (#000000);
  margin-bottom: 18px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(43px, 50px);
  }

  @media screen and (min-width: $desktop-width) {
    @include text-size (53px, 57px);
    padding-top: 73px;
  }
}

.product__label {
  @include text-size (17px, 20px);
  @include text-color (#63d1bb);
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    @include text-size(17px, 17px);
    position: absolute;
  }
}

.product__description {
  position: relative;
  height: 678px;
  // margin-top: 18px;

  @media screen and (min-width: $tablet-width) {
    // margin-top: 49px;
    width: 290px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 7px;
  }
}

.product__text {
  @include out-indents-reset;
  line-height: 24px;
  margin-bottom: 17px;

  @media screen and (min-width: $tablet-width) {
    line-height: 30px;
    margin-bottom: 35px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.product__info {
  @include list-reset;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(15px, 20px);
    margin-bottom: 58px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 112px;
  }
}

.product__info-item {
  border-bottom: $border;
  line-height: 20px;
  padding: 10px 0 9px;
}

.product__img {
  // @media screen and (min-width: $tablet-width) {
  //   position: absolute;
  //   top: 0;
  //   right: -378px;
  // }

  // @media screen and (min-width: $desktop-width) {
  //   top: -159px;
  //   right: -584px;
  // }
}

.product__buy {
  width: 100%;
  position: absolute;
  bottom: 0;
  // margin-top: 15px;
}

.product__price {
  @include text-size (17px, 24px);
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet-width) {
    @include text-size (20px, 24px);
    margin-bottom: 34px;
  }
}

.product__btn {
  font-size: 17px;
}
