.production {
  padding-bottom: 35px;
  border-bottom: 10px solid #ececec;
}

.production__list {
  min-height: 180px;
}

.production__item {
  @include wrapper;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 115px;
}

.production__item--interior-items {
  background-color: #63d1bb;
}

.production__item--kid-toys {
  background-color: #56c3b2;
}

.production__link {
  @include link-reset;
  @include text-size (19px, 24px);
  @include text-color (#ffffff);
  font-weight: 700;
  display: block;

  &:active {
    @include link-active (#97e2d2);
  }
}

.production__best-goods {
  @include wrapper;
  padding-top: 27px;
  margin: 0 auto;
}
