.product__title {
  @include text-size (25px, 30px);

  @media screen and (min-width: $tablet-width) {
    @include text-size(43px, 50px);
  }
}

.product__label {
  @include text-size (17px, 20px);
  @include text-color (#63d1bb);
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    @include text-size(17px, 17px);
    position: absolute;
  }
}

.product__description {
  margin-top: 18px;

  @media screen and (min-width: $tablet-width) {
    margin-top: 49px;
    position: relative;
    width: 290px;
  }
}

.product__text {
  @include out-indents-reset;
  line-height: 24px;
  margin-bottom: 17px;

  @media screen and (min-width: $tablet-width) {
    line-height: 30px;
    margin-bottom: 35px;
  }
}

.product__info {
  @include list-reset;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(15px, 20px);
    margin-bottom: 58px;
  }
}

.product__info-item {
  @include border-bottom;
  line-height: 20px;
  padding: 10px 0 9px;
}

.product__img {
  @media screen and (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: -378px;
  }
}

.product__buy {
  margin-top: 15px;
}

.product__price {
  @include text-size (17px, 24px);
  font-weight: 700;
  display: block;
  text-align: center;
  padding-bottom: 25px;

  @media screen and (min-width: $tablet-width) {
    @include text-size (20px, 24px);
    padding-bottom: 34px;
  }
}

.product__btn {
  font-size: 17px;
}
