.promo {
  box-sizing: $box-sizing;
  background-color: $bg-promo;
  border-top: $border;
  margin-bottom: 27px;

  @media screen and (min-width: $tablet-width) {
    min-height: 750px;
    margin-top: -62px;
    background-image: none;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.promo__wrap {
  @include wrapper;
  @include container;

  @media screen and (min-width: $desktop-width) {
    padding: 0 100px;
  }
}

.promo__name {
  box-sizing: $box-sizing;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -19px;
  padding-top: 70px;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  min-height: 281px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px;
  }

  @media screen and (min-width: $tablet-width) {
    @include reset-padding;
    min-height: 627px;
    padding-top: 153px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center 0;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-tablet@2x.jpg");
    background-size: 1150 px;


  @media screen and (min-width: $desktop-width) {
    padding-left: 100px;
    padding-right: 100px;
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 1150px;
  }
}

.promo__title {
  @include title-first;
  text-align: center;

  br {
    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }
}

.promo__links {
  min-height: 197px;
  margin-left: -30px;
  margin-right: -30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media screen and (min-width: $tablet-width) {
    min-height: 106px;
    margin: 0;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 115px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

.promo__links-wrap {
  @include reset-padding;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.promo__item {
  @include link-reset;
  @include text-size (19px, 24px);
  @include text-color (#ffffff);
  font-weight: 700;
  box-sizing: $box-sizing;
  min-height: 103px;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 125px;
  position: relative;

  @media screen and (min-width: $tablet-width) {
    @include text-size (20px, 30px);
    width: 50%;
    min-height: 115px;
    padding-top: 28px;
    padding-left: 36px;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 115px;
    padding-right: 305px;
    padding-bottom: 13px;
  }

  &:hover {
    top: -5px;
  }

  &:focus {
    top: -5px;
  }

  &:hover::before {
    opacity: 0.7;
  }

  &:focus::before {
    opacity: 0.7;
  }

  &:active::before {
    opacity: 0.3;
  }

  &:active .promo__text {
    @include link-active (#97e2d2);
  }

  &::after {
    position: absolute;
    content: "";
    z-index: 1;

    @media (max-width: $mobile-width-only) {
      background-position: 5px 0;
    }

    @media screen and (min-width: $tablet-width) {
      width: 100%;
      height: 34px;
      background: url("../img/bg-zigzag-fill.svg") repeat -20px 0;
      background-repeat-y: no-repeat;
      background-size: auto 50%;
      bottom: -20px;
      left: 0;
    }

    @media screen and (min-width: $desktop-width) {
      background-position: 4px 0;
      background-size: auto 100%;
    }
  }

  &:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    z-index: 1;

    @media (max-width: $mobile-width-only) {
      height: 5px;
      bottom: -5px;
    }

    @media screen and (min-width: $tablet-width) {
      height: 34px;
      background: url("../img/bg-zigzag-fill.svg") no-repeat -20px 0;
      background-repeat-y: no-repeat;
      background-size: auto 50%;
      bottom: -20px;
    }

    @media screen and (min-width: $desktop-width) {
      background-position: 4px 0;
      background-size: auto 100%;
    }
  }

&:focus::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  z-index: 1;

    @media (max-width: $mobile-width-only) {
      height: 5px;
      bottom: -5px;
    }

    @media screen and (min-width: $tablet-width) {
      height: 34px;
      background: url("../img/bg-zigzag-fill.svg") no-repeat -5px 0;
      bottom: -20px;
    }
  }
}

.promo__item--interior-items {
  background-color: #63d1bb;

  &::before {
    position: absolute;
    right: 37px;
    top: 22px;
    content: "";
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.5;

    @media screen and (min-width: $tablet-width) {
      top: 30px;
    }
  }

  &:hover::after {
    @media (max-width: $mobile-width-only) {
      background-color: #63d1bb;
    }
  }

  &:focus::after {
    @media (max-width: $mobile-width-only) {
      background-color: #63d1bb;
    }
  }
}

.promo__item--kid-toys {
  background-color: #56c3b2;
  position: relative;

  &::before {
    position: absolute;
    right: 28px;
    top: 22px;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.5;

    @media screen and (min-width: $tablet-width) {
      right: 34px;
      top: 30px;
    }
  }

  &:hover::after {
    @media (max-width: $mobile-width-only) {
      background-color: #56c3b2;
    }
  }

  &:focus::after {
    @media (max-width: $mobile-width-only) {
      background-color: #56c3b2;
    }
  }
}
