.reviews {
  @include wrapper;
  @include vert-padding (16px, 45px);
  border-bottom: 10px solid #ececec;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    @include vert-padding (79px, 66px);
    position: relative;
    border-bottom: 20px solid #ececec;
  }

  @media screen and (min-width: $desktop-width) {
    @include left-wrap;
    @include vert-padding (73px, 111px);
    border-bottom: 30px solid #ececec;
  }
}

.reviews__list {
  padding-bottom: 37px;

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 5px;
    padding-right: 100px;
  }
}

.reviews__item {
  @include out-indents-reset;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 46px;
  }
}

.reviews__title {
  @include text-size (25px, 30px);
  @include text-color;
  @include out-indents-reset;
  font-weight: 700;
  padding-bottom: 24px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(43px, 50px);
    padding-bottom: 50px;
    padding-right: 180px;
  }

  @media screen and (min-width: $desktop-width) {
    @include text-size (53px, 57px);
  }
}

.reviews__text {
  @include out-indents-reset;
  padding-bottom: 27px;

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 56px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 37px;
  }
}

.reviews__author-name {
  @include out-indents-reset;
  @include text-size (17px, 24px);
  @include text-color;
  font-weight: 700;
  padding-bottom: 3px;

  @media screen and (min-width: $tablet-width) {
    font-size: 18px;
    padding-bottom: 4px;
  }
}

.reviews__author-nickname {
  @include out-indents-reset;
  font-size: 17px;
}

.reviews__buttons {
  display: flex;

  @media screen and (min-width: $tablet-width) {
    position: absolute;
    bottom: 117px;
    right: 7px;
  }

  @media screen and (min-width: $desktop-width) {
    bottom: 162px;
  }
}

.reviews__prev {
  @include arrows;

  @media screen and (min-width: $tablet-width) {
    @include arrows (80px, 48px);
  }
}

.reviews__next {
  @include arrows;

  @media screen and (min-width: $tablet-width) {
    @include arrows (80px, 48px);
  }
}

.reviews__btn {
  @media screen and (min-width: $tablet-width) {
    position: absolute;
    top: 80px;
    right: 0
  }
}
