.reviews {
  box-sizing: $box-sizing;
  height: 579px;
  margin-bottom: 43px;

  @media screen and (min-width: $tablet-width) {
    @include reset-padding;
    padding-top: 77px;
    width: 768px;
    height: 456px;
    margin: 0 auto;
    margin-bottom: 67px;
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-position: left 0;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1150px;
    padding-top: 72px;
    background-position-x: 50px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("img/review@2x.jpg");
    background-size: 350px;
  }
}

.reviews__wrap {
  @include wrapper;
  @include container;
  position: relative;

  @media screen and (min-width: $desktop-width) {
    @include left-wrap;
  }
}

.reviews__list {
  margin-bottom: 37px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 5px;
    padding-right: 100px;
  }
}

.reviews__item {
  @include reset-margin;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__title {
  @include text-size (25px, 30px);
  @include text-color;
  @include reset-margin;
  font-weight: 700;
  margin-bottom: 24px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(43px, 50px);
    margin-bottom: 48px;
  }

  @media screen and (min-width: $desktop-width) {
    @include text-size (53px, 57px);
  }
}

.reviews__text {
  @include reset-margin;
  margin-bottom: 27px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 39px;
  }
}

.reviews__author-name {
  @include reset-margin;
  @include text-size (17px, 24px);
  @include text-color;
  font-weight: 700;
  margin-bottom: 3px;

  @media screen and (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 4px;
  }
}

.reviews__author-nickname {
  @include reset-margin;
  font-size: 17px;
}

.reviews__buttons {
  display: flex;

  @media screen and (min-width: $tablet-width) {
    position: absolute;
    top: 174px;
    right: 75px;
    width: 137px;
    display: flex;
    justify-content: space-between;
  }
}

.reviews__prev {
  @include arrows;

  @media screen and (min-width: $tablet-width) {
    @include arrows (50px, 26px);
  }
}

.reviews__next {
  @include arrows;

  @media screen and (min-width: $tablet-width) {
    @include arrows (50px, 26px);
  }
}

.reviews__svg {
  cursor: pointer;

  &:hover polygon {
    fill: #666666;
  }

  &:focus polygon {
    fill: #666666;
  }

  &:active polygon {
    fill: #b2b2b2;
  }
}

.reviews__btn {
  @media screen and (min-width: $tablet-width) {
    position: absolute;
    top: 2px;
    right: 99px;
  }

  @media screen and (min-width: $desktop-width) {
    top: 8px;
  }
}
