.user-list {

  @media screen and (min-width: $tablet-width) {
    order: 0;
    display: flex;
    width: 348px;
    height: 90px;
  }

  @media screen and (min-width: $desktop-width) {
    order: 2;
  }
}

.user-list__item {
  @include text-decoration;
  @include mobile-menu-item;
  padding-top: 24px;
  padding-left: 30px;

  @media screen and (min-width: $tablet-width) {
    height: 90px;
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.user-list__item--search {
  @media screen and (min-width: $tablet-width) {
    width: 82px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  @media screen and (min-width: $desktop-width) {
    width: 175px;
    border-left: none;
  }
}

.user-list__item--cart {
  padding-top: 22px;
  @media screen and (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.user-list__link {
  @include link-reset;
  @include text-decoration;

  &:visited {
    @include link-visited;
  }

  &:hover {
    @include link-hover;

    .user-list__path {
      fill: #63d1bb;
    }
  }

  &:focus {
    @include link-hover;
  }

  &:active {
    @include link-active;

    .user-list__path {
      fill: #d0f1ea;
    }
  }
}

.user-list__link--search {
  @media screen and (min-width: $tablet-width) {
    font-size: 0;
  }
}

.user-list__icon {
  display: inline-block;
  vertical-align: sub;
  margin-right: 24px;

  &--cart {
    margin-right: 21px;
  }
}

