$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$border: 1px solid #ececec;
$box-sizing: border-box;
$bg-color: #f1f1f1;
$bg-promo: #f9f9f9;
$box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
$green: #62d1ba;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
