.video {
  margin-bottom: 60px;
}

.video__wrap {
  @include wrapper;
  @include container;
  display: flex;
  flex-direction: column;
}

.video__title {
  @include text-decoration;
  padding-top: 23px;
  padding-left: 90px;
  padding-bottom: 23px;
  padding-right: 30px;
  border-bottom: none;
  border: $border;
  box-sizing: $box-sizing;
}

.video__player {
  position: relative;

  @media screen and (min-width: $tablet-width) {
    height: 455px;
  }
}

.video__img {
  display: block;
}

.video__start-btn {
  position: absolute;
  top: 42px;
  left: 86px;
}

.video__desc {
  padding: 26px 34px;
  box-sizing: $box-sizing;
  border: $border;

  @media screen and (min-width: $tablet-width) {
    @include int-indents-reset;
    border: 0;
  }
}

.video__text {
  @include out-indents-reset;
  @include text-size (13px, 24px);
  margin-bottom: 25px;


}

.video__btn {
  padding-bottom: 5px;
}

.video__btn-link {
  @include text-size (17px, 16px);
  @include text-color;
  font-weight: 700;
  padding: 16px;
}
