.video {
  margin-bottom: 60px;
  position: relative;

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.video__wrap {
  @include wrapper;
  @include container;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.video__info {
  border: $border;
  padding: 0 33px;

  @media screen and (min-width: $tablet-width) {
    padding: 0 41px;
    padding-top: 37px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 78px;
    padding-right: 58px;
    padding-top: 40px;
  }
}

.video__title {
  @include text-decoration;
  padding-top: 23px;
  padding-left: 57px;
  padding-bottom: 23px;
  padding-right: 30px;
  margin-bottom: 178px;
  position: relative;

  @media screen and (min-width: $tablet-width) {
    @include text-size(20px, 24px);
    @include reset-padding;
    padding-left: 65px;
    margin-bottom: 33px;
  }

  @media screen and (min-width: $desktop-width) {
    @include reset-padding;
    padding-top: 55px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    top: 29px;
    left: 0;

    @media screen and (min-width: $tablet-width) {
      top: -5px;
    }

    @media screen and (min-width: $desktop-width) {
      top: 0;
    }
  }
}

.video__text {
  @include reset-margin;
  @include text-size (13px, 24px);
  margin-bottom: 25px;

  @media screen and (min-width: $tablet-width) {
    @include text-size(15px, 30px);
    margin-bottom: 35px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.video__btn {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.video__btn-link {
  @include text-size (17px, 16px);
  @include text-color;
  font-weight: 700;
  padding: 16px;
}

.video__player {
  position: absolute;
  top: 96px;

  @media screen and (min-width: $tablet-width) {
    position: relative;
    top: 0;
    height: 455px;
  }
}

.video__img {
  display: block;
  width: 265px;
  height: 195px;

  @media screen and (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 682px;
    height: 455px;
  }
}

.video__start-btn {
  position: absolute;
  margin-left: -50px;
  margin-top: -40px;
  top: 50%;
  left: 50%;
  cursor: pointer;
  outline: 0;

  &:hover {
    transition: 0.5s;
    transform: scale(1.2);
  }

  &:focus {
    transition: 0.5s;
    transform: scale(1.2);
  }

  &:active {
    transition: 0.7s;
    transform: scale(0.8);

    .video__start-btn-fill {
      fill: #d0f1ea;
    }
  }
}
